<h1 class="text-center mt-5">Вас вітає провайдер
  <strong>
    "Україна"
  </strong>
</h1>
<p  class="text-center mt-5">
  Подати інформацію про ворога можна за посиланням <%=link_to "Скарга", new_complaint_path%>
</p>
